/* Color Palette
"Melon":"ffb5a7",
"Misty Rose":"fdded8",
"Cultured":"F6F4F4",
"Baby powder":"f4f4f0",
"Rich Black FOGRA 39":"0b090a"

font-family: 'Cormorant Garamond', serif;
font-family: 'Tenor Sans', sans-serif;
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  background-color: #f6f4f4;
  border-style: solid;
  border-color: #212529;
  border-width: 0 0 1px 0;
  height: 85px;
  text-align: left;
}
header h1 {
  margin: 0 5% 0 5%;
}
nav {
  background-color: #212529;
  height: 40px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  color: #f6f4f4;
  font-family: "Tenor Sans", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  text-align: right;
  margin-right: 5%;
}
nav .nav_button {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 10px 8px 10px;
}
nav a:visited {
  color: #f5ebe0;
  text-decoration: none;
}
nav a:link {
  text-decoration: none;
  padding: 1px;
}
nav a:hover {
  background: #f6f4f4;
  color: #212529;
  padding: 1px;
}
body {
  color: #0b090a;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f6f4f4;
}
h1,
h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 300;
  margin: 0px;
  line-height: 1;
  padding: 10px 10px;
  vertical-align: middle;
  text-align: left;
}
p {
  margin: 0;
}

/* Project page (virtual water)*/
.chart-container {
  width: 90%;
  height: 60%;
  display: flex;
  background-color: #f6f4f4;
  margin-left: 5%;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 5%;
}
#chart {
  width: 50%;
  display: block;
  margin-top: 0px;
}
#chart-title {
  font-family: "Tenor Sans", sans-serif;
  display: block;
  width: 25%;
}
#chart-title h2 {
  font-size: 3vw;
  transform: rotate(-90deg);
  position: relative;
  top: 60%;
  left: 35%;
  padding: 0px;
}
#chart-text {
  width: 25%;
}
#chart-text p {
  padding: 0 1vw;
  font-size: 1.2vw;
  text-align: justify;
}
#chart-text hr {
  margin: 4vw 1vw 0 1vw;
}

/* Map */
.map-container {
  width: 90%;
  height: 40%;
  display: flex;
  background-color: #f6f4f4;
  margin-left: 5%;
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 5%;
}
#map {
  width: 60%;
  display: block;
  margin-top: 0px;
  margin-left: 10%;
}

/* Responsive */

@media screen and (max-width: 800px) {
  .chart-container {
    flex-direction: column;
  }
  #chart-text {
    width: 100%;
    margin-bottom: 5vw;
  }
  #chart-text p {
    font-size: 3vw;
  }
  #chart-title h2 {
    font-size: 3vw;
    transform: rotate(0deg);
    text-align: center;
  }
  #chart-title {
    width: 100%;
  }
  #chart-title h2 {
    font-size: 8vw;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
  }
  #chart {
    width: 100%;
    margin-top: 5%;
  }
  .map-container {
    flex-direction: column;
  }
  #map {
    width: 90%;
    margin: 0;
    margin-top: 5%;
  }
}

/* Define transition */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
