/* Color Palette
"Melon":"ffb5a7",
"Misty Rose":"fdded8",
"Cultured":"F6F4F4",
"Baby powder":"f4f4f0",
"Rich Black FOGRA 39":"0b090a"
"Ecru: #F7F4ED (too yellow)

font-family: 'Cormorant Garamond', serif;
font-family: 'Tenor Sans', sans-serif;
*/

/* Global styles
-------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Gallient;
  src: url(font/gallient/Gallient.ttf);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  background-color: #f6f4f4;
  border-style: solid;
  border-color: #212529;
  border-width: 0 0 1px 0;
  height: 85px;
  text-align: left;
}
header h1 {
  margin: 0 5% 0 5%;
  padding: 10px 10px;
  font-family: "Tenor Sans", sans-serif;
}
nav {
  background-color: #212529;
  height: 85px;
}
nav ul {
  list-style-type: none;
  color: #f6f4f4;
  font-family: 'Raleway', sans-serif;
  /* font-family: "Tenor Sans", sans-serif; */
  text-decoration: none;
  vertical-align: middle;
  text-align: right;
  margin: 0 5% 0 5%;
  padding-top: 20px;
  display: block;
  font-size: 20px;
}
nav .nav_button {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 10px 8px 10px;
}
nav a:visited {
  color: #f5ebe0;
  text-decoration: none;
}
nav a:link {
  text-decoration: none;
  padding: 1px;
}
nav a:hover {
  background: #f6f4f4;
  color: #212529;
  padding: 1px;
}
footer {
  background-color: #212529;
  height: auto;
  padding: 70px 0;
  width: 100%;
  /* position: fixed; */
  /* min-height: calc(100% - 40px); */
}
.footer-col h2{
	font-size: 20px;
  color: #f5ebe0;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
  text-align: center;
}
.footer-col {
  text-align: center;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: none;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #f5ebe0;
	transition: all 0.5s ease;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  z-index: 100;
}

body {
  color: #0b090a;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f6f4f4;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0px;
  line-height: 1;
  vertical-align: middle;
  text-align: left;
}
p {
  margin: 0;
  font-size: 20px;
  text-align: justify;
}

.me {
  margin: 0px;
  padding: 0px
}

/* Home and About pages --------------------------------------------------------------------------------*/
.content-wrap {
  width: 90%;
  height: 100%;
  display: flex;
  background-color: #f6f4f4;
  margin-left: 5%;
  margin-bottom: 5%;
  border-color: #212529;
  border-width: 0 0 1px 0;
}
#woman {
  width: 50%;
  height: 60%;
  margin-top: 5%;
  display: block;
}
#about .intro {
  width: 50%;
}

.about-img {
  width: 100%;
}

#about .intro h1 {
  text-align: center;
  margin-top: 10%;
  -webkit-animation: slideLeft 2s forwards, fadeInAnimation ease 4s;
  -moz-animation: slideLeft 2s forwards, fadeInAnimation ease 4s;
  animation: slideLeft 2s forwards, fadeInAnimation ease 4s;
}
#about .intro p {
  padding: 0 4vw 0 4vw;
  font-size: 1.5vw;
  text-align: justify;
  -webkit-animation: slideRight 2s backwards;
  -moz-animation: slideRight 2s backwards;
  animation: slideRight 2s backwards;
}
#about .intro hr {
  margin: 0 4vw 0 4vw;
  -webkit-animation: slideLeft 2s forwards;
  -moz-animation: slideLeft 2s forwards;
  animation: slideLeft 2s forwards;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#home .intro {
  width: 50%;
  /* margin-right: -5%;
  top: 60%;
  left: 35%; */
}
#home .intro h1 {
  font-family: Gallient;
  font-size: 3vw;
  text-align: left;
  margin-top: 1%;
  position: relative;
  top: 5%;
  /* left: 30%; */
  /* font-size: 2vw; */
  /* -webkit-animation: slideLeft 2s forwards, fadeInAnimation ease 4s;
  -moz-animation: slideLeft 2s forwards, fadeInAnimation ease 4s;
  animation: slideLeft 2s forwards, fadeInAnimation ease 4s; */
}
#home .intro p {
  width: 70%;
  top: 5%;
  left: 30%;
  position: relative;
  margin: 0;
  /* padding: 0 4vw 0 4vw; */
  font-size: 1.5vw;
  text-align: right;
}
#home .intro hr {
  width: 70%;
  top: 5%;
  left: 15%;
  position: relative;
  text-align: right;
}

/* New landing page ------------------------------------------------------------------------------*/ 
.row {
  display: flex;
  padding: 0px;
  border-style: solid;
  border-color: #212529;
  border-width: 0 0 1px 0;
}

.column {
  flex: 50%;
  padding: 50px;
}

.columncenter {
  margin-top: 2%;
  margin-bottom: 2%;
  flex: 1;
  margin-left: 20%;
  margin-right: 20%;
  /* place-items: center; */
  text-align: left;
}

.columnleft {
  margin-left: 5%;
}
.columnright {
  margin-right: 5%;
}

.me {
  display: grid;
  place-items: center;
}

#home .columnleft {
  border-style: solid;
  border-color: #212529;
  border-width: 0 1px 0px 0;
}

#land {
  height: 45vw;
}

#land .columnleft {
  border-width: 0;
  padding: 0;
}

#home p h1 {
  margin: 20px;
}

/* Project page (virtual water)*/
.chart-container {
  width: 90%;
  height: 100%;
  display: flex;
  background-color: #f6f4f4;
  margin-left: 5%;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 5%;
  margin-bottom: 5%;
}
#chart {
  width: 50%;
  display: block;
  margin-top: 0px;
  -webkit-animation: slideTop 2s forwards;
  -moz-animation: slideTop 2s forwards;
  animation: slideTop 2s forwards;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
#chart-title {
  font-family: "Raleway", sans-serif;
  display: block;
  width: 25%;
}
#chart-title h2 {
  font-size: 3vw;
  transform: rotate(-90deg);
  position: relative;
  top: 60%;
  left: 35%;
  padding: 0px;
}
#chart-text {
  width: 25%;
}
#chart-text p {
  padding: 0 1vw;
  font-size: 1.3vw;
  text-align: justify;
}
#chart-text hr {
  margin: 1vw 1vw 0 1vw;
}

#chart-text2 {
  width: 25%;
}
#chart-text2 p {
  padding: 0 1vw;
  font-size: 1.3vw;
  text-align: justify;
}
#chart-text2 hr {
  margin: 4vw 1vw 0 1vw;
}

/* Map */
.map-container {
  width: 90%;
  height: 40%;
  display: flex;
  background-color: #f6f4f4;
  margin-left: 5%;
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 10% 5% 10% 5%;
}
#map {
  width: 60%;
  display: block;
  margin-top: 0px;
  margin-left: 10%;
}

/* Responsive -------------------------------------------------------------------------------------*/

@media screen and (max-width: 821px) {
  nav ul {
    list-style-type: none;
    color: #f6f4f4;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 16px;
  }
  #land {
    height: auto;
  }
  .row {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  #home .columnleft {
    border-style: solid;
    border-color: #212529;
    border-width: 0 0px 0px 0;
  }
  .content-wrap {
    /* flex-direction: column;
    align-items: center; */
    display: block;
  }
  #woman {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: block;
  }
  #home .intro {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #home .intro p {
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    margin: 0;
    /* padding: 0 4vw 0 4vw; */
    font-size: 20px;
    text-align: center;
  }
  #home .intro hr {
    margin: 10px;
    align-items: center;
  }
  #home .intro h1 {
    text-align: center;
    margin-top: 2%;
    font-size: 3em;
    font-family: Gallient;
  }
  #about .intro {
    width: 100%;
  }
  #about .intro p {
    width: 100%;
    /* top: 0;
    left: 0;
    position: relative;
    margin: 0;
    /* padding: 0 4vw 0 4vw; */
    font-size: 20px;
    text-align: justify;
  }
  #about .intro hr {
    margin: 10px;
    align-items: center;
  }
  #about .intro h1 {
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
  }
  .footer{
    padding: 30px 0;
  }

  .chart-container {
    flex-direction: column;
  }
  #chart-text {
    width: 100%;
    margin-bottom: 5vw;
  }
  #chart-text p {
    font-size: 3vw;
  }
  #chart-text2 {
    width: 100%;
    margin-bottom: 5vw;
  }
  #chart-text2 p {
    font-size: 3vw;
  }
  #chart-title h2 {
    font-size: 3vw;
    transform: rotate(0deg);
    text-align: center;
  }
  #chart-title {
    width: 100%;
  }
  #chart-title h2 {
    font-size: 8vw;
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
  }
  #chart {
    width: 100%;
    margin-top: 5%;
  }
  .map-container {
    flex-direction: column;
  }
  #map {
    width: 90%;
    margin: 0;
    margin-top: 5%;
  }
  #portfolio .gallery {
    display: block;
    position: relative;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #portolio .gallery img{
    object-fit: cover;
    height: 100px;
  } 
}

/* Define transition */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
/* Slide from the left */
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Slide from the right */
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideRight {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Slide from the top */
@-webkit-keyframes slideTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
